#team-summary.text-gray-300.space-y-2
  .text-md{ class: ('text-red-400' if team.brave_total > 240) }
    Brave: #{team.brave_total}/240
  .text-md{ class: ('text-red-400' if team.faith_total < 220) }
    Faith: #{team.faith_total}/220
  .text-md{ class: ('text-red-400' if team.jp_total > 18000) }
    JP: #{team.jp_total}/18000
