@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/aspect-ratio';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/aspect-ratio';

@import '../stylesheets/bracket.css' layer(base);
@import 'tailwindcss';

@theme {
  --background-image-menu-texture: url(bg.gif);

  --color-menu: #a49d83;
  --color-menu-dark: #726c5e;
  --color-menu-light: #a9a38c;

  --color-mp-light: #a2ad7d;
  --color-mp-dark: #556872;

  --color-hp-light: #c9985d;
  --color-hp-dark: #78483f;

  --color-ct-light: #a6a658;
  --color-ct-dark: #59694a;

  --color-gold-dark: rgb(219,161,60);
  --color-gold-light: rgb(245,220,134);
  --color-silver-dark: rgb(124,124,138);
  --color-silver-light: rgb(204,204,223);
  --color-bronze-dark: rgb(150,87,50);
  --color-bronze-light: rgb(229,172,139);

  --skew-45: -45deg;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(0, 0, 0) rgb(31, 41, 55);
}

@media only screen and (min-width: 992px) {
  select.dark {
    appearance: base-select;

    & > button {
      display: flex;
      width: 100%;
      font-family: inherit;
      color: currentColor;
    }

    &::picker-icon {
      display: none;
    }

    &::picker(select) {
      appearance: base-select;
      @apply p-1 mt-1 rounded-md cursor-default bg-gray-800 border border-gray-700;

      transition: opacity 225ms ease-in-out, transform 225ms ease-in-out;
      opacity: 1;

      @starting-style {
        opacity: 0;
      }
    }

    & option {
      @apply text-white p-1 rounded-md text-sm font-sans;

      outline: none;

      &::after {
        content: "";
        width: 1rem;
        height: 1.5rem;
        margin-left: auto;
        opacity: 0;
      }

      &::checkmark {
        display: none;
      }

      &:hover,
      &:focus-visible {
        @apply bg-blue-600;
      }
    }
  }
}

.modal-content .overflow-y-auto {
  scrollbar-gutter: stable;
}

.bg-menu-texture * {
  scrollbar-color: #726C5E #A49D83;
}

input[type=number] {
  -moz-appearance:textfield;
}

.tooltip-highlight [data-controller='context']:has([data-context-target='tooltip']) {
  @apply -mx-2 px-2 rounded-md bg-blue-400/25 hover:bg-blue-500/25;
}

.tooltip-highlight [data-controller='context']:has([data-context-target='tooltip']), .tooltip-highlight [data-controller='context']:has([data-context-target='tooltip']) * {
  @apply cursor-help!;
}

.bg-menu-texture {
  background-image: url('bg.gif');
}