.font-sans.h-full.w-full
  .mt-4.md:mt-8.flex.justify-center
    = image_tag('FFTb-logo.png')

  .mt-4.flex.justify-center
    .max-w-3xl.flex.flex-wrap.flex-col.md:flex-row-reverse
      .rounded-xl.bg-gray-800.p-4.flex-1.m-3
        .flex.justify-between.items-center
          %h2.text-lg.text-white.font-semibold
            Work on my Teams

          %a.text-sm.text-orange-400.hover:text-orange-300{ href: new_team_path, data: { turbo_frame: '_top' } }
            Create a Team

        = render 'teams', teams: @teams
      
      .rounded-xl.bg-gray-800.p-4.flex-1.m-3
        .flex.justify-between.items-center
          %h2.text-lg.text-white.font-semibold
            Browse Events

          - if current_user.present?
            %a.text-sm.text-orange-400.hover:text-orange-300{ href: new_event_path, data: { turbo_frame: 'modal' } }
              Create Event

        = render 'events', events: @events
        
  = render "users/menu"
