.font-sans.h-full.w-full.p-4
  .md:mt-4.flex.justify-center
    = image_tag('FFTb-logo.png', title: 'Thanks, Chad Jeeps')

  .mt-4.flex.justify-center
    .flex.flex-wrap.flex-col.md:flex-row-reverse
      .rounded-xl.bg-gray-800.p-4.my-3.md:w-96.md:mx-3
        .flex.justify-between.items-center
          %h2.text-lg.text-white.font-semibold
            My Teams

          %a.text-sm.text-orange-400.hover:text-orange-300{ href: new_team_path, data: { turbo_frame: '_top' } }
            Create a Team

        = render 'teams', teams: @teams
      
      .rounded-xl.bg-gray-800.p-4.my-3.md:w-96.md:mx-3
        .flex.justify-between.items-center
          %h2.text-lg.text-white.font-semibold
            Active Events

          - if current_user.present?
            %a.text-sm.text-orange-400.hover:text-orange-300{ href: new_event_path, data: { turbo_frame: 'modal' } }
              Create Event

        = render 'events', events: @events
        
  = render "users/menu"
