.font-sans.h-full.w-full
  %h1.mt-48.text-white.text-2xl.text-center.font-semibold
    What are you looking to do?

  .mt-8.flex.justify-center
    .grid.grid-cols-2.gap-4.place-content-center.w-full.max-w-3xl
      .rounded-xl.bg-gray-800.p-4.col-span-1
        .flex.justify-between.items-center
          %h2.text-lg.text-white.font-semibold
            Browse Events

          - if current_user.present?
            %a.text-sm.text-orange-400.hover:text-orange-300{ href: new_event_path, data: { turbo_frame: 'modal' } }
              Create Event

        = render 'events', events: @events


      .rounded-xl.bg-gray-800.p-4.col-span-1
        .flex.justify-between.items-center
          %h2.text-lg.text-white.font-semibold
            Work on my Teams

          %a.text-sm.text-orange-400.hover:text-orange-300{ href: new_team_path, data: { turbo_frame: '_top' } }
            Create a Team

        = render 'teams', teams: @teams
        
  = render "users/menu"
