.flex.justify-end.space-x-4.mr-2.mt-2
  = form_with(url: import_teams_path, multipart: true, data: { controller: 'form' }) do
    %label.cursor-pointer{ for: 'upload-teams' }
      %div{ class: neutral_button_classes, data: { turbo_frame: 'modal' } } Import Teams
      = file_field_tag(:team_files, name: 'team_files[]', id: 'upload-teams', class: 'hidden', accept: '.yml', multiple: true, data: { action: 'form#submit' } )

  %a{ class: primary_button_classes, href: new_team_path, data: { turbo_frame: '_top' } }
    %span Create a Team
