#zodiac.group
  = link_to(character_zodiacs_path(character_id: i), data: { turbo_frame: 'modal' }, class: 'flex space-x-3 items-center mb-2 cursor-pointer') do
    = inline_svg_tag("zodiacs/#{char.zodiac}.svg", class: 'h-6 w-6 text-gray-400')
    .text-white.border-b-2.border-transparent.group-hover:border-gray-400.-mb-1= char.zodiac.titleize
