- readonly ||= false

#zodiac.group{ class: ('pointer-events-none' if readonly) }
  = link_to(team_character_zodiacs_path(team_id: team.id, character_id: i), data: { turbo_frame: 'modal' }, class: 'flex items-center cursor-pointer') do
    = inline_svg_tag("zodiacs/#{char.zodiac}.svg", class: 'h-7 w-7')
    .ml-1.border-b-2.border-transparent.group-hover:border-menu-dark.-mb-1= char.zodiac.titleize
