#new-slot
  = button_to('Add Slot', add_slot_memgen_path(i: i), class: 'border focus:outline-none focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm p-2.5 px-5 bg-gray-800 text-white border-gray-600 hover:bg-gray-700 hover:border-gray-600 focus:ring-gray-700'.squish)
