%table#mobility.table-auto.border-spacing-0.border-collapse.text-right
  %tr
    %td Move
    %td.text-menu-dark …
    %td.w-6= char.move
  %tr
    %td Jump
    %td.text-menu-dark …
    %td.w-6= char.jump
  %tr
    %td Speed
    %td.text-menu-dark …
    %td.w-6= char.speed
