#vitals.w-52.px-2
  .flex.justify-center.space-x-4.mb-3
    .text-white Lv. 35
    .text-white Exp. 99

  .flex.space-x-2.items-center.mb-1
    .text-white HP
    .flex-1.skew-x-45.h-2.bg-gradient-to-r.from-hp-dark.to-hp-light
    .text-white.w-8.text-right= char.hp

  .flex.space-x-2.items-center.mb-1
    .text-white MP
    .flex-1.skew-x-45.h-2.bg-gradient-to-r.from-mp-dark.to-mp-light
    .text-white.w-8.text-right= char.mp

  .flex.space-x-2.items-center
    .text-white CT
    .flex-1.skew-x-45.h-2.bg-gradient-to-r.from-ct-dark.to-ct-light
    .text-white.w-8.text-right ---
