%table#weapons.table-auto.border-spacing-0.border-collapse.text-center
  %tr
    %td.text-menu-dark{ colspan: 5} Weapon Power
  %tr
    %td R
    %td.text-menu-dark …
    %td= char.wp_right
    %td.text-menu-dark /
    %td #{char.w_ev_right}%
  %tr
    %td L
    %td.text-menu-dark …
    %td= char.wp_left
    %td.text-menu-dark /
    %td #{char.w_ev_left}%
