.-mx-2.px-2.py-3.space-y-2.cursor-pointer
  .flex.justify-between.items-center
    .flex.items-center.space-x-2.text-red-900
      Brave

  .text-left.text-sm.prose.text-gray-900
    Brave has 3 primary interactions:

  .text-left.text-sm.prose.text-gray-900
    %ul.marker:text-gray-900
      %li Reaction rates increase with lower brave
      %li Some damage formulas (e.g. katanas, axes, unarmed strikes) do more damage with higher brave
      %li Weapon and skill proc rates increase with higher brave
