.-mx-2.px-2.py-3.space-y-2.cursor-pointer
  .flex.justify-between.items-center
    .flex.items-center.space-x-2.text-red-900
      Faith

  .text-left.text-sm.prose.text-gray-900
    Faith has 2 primary interactions:

  .text-left.text-sm.prose.text-gray-900
    %ul.marker:text-gray-900
      %li Reaction rates increase the farther your Faith is from 50 (in either direction)
      %li Hit rates and damage of skills with faith-based formulas will be affected by caster and target faith

  .text-left.text-sm.prose.text-gray-900
    There are 3 types of skill formulas that consider Faith:

  .text-left.text-sm.prose.text-gray-900
    %ul.marker:text-gray-900
      %li Hit_F and Dmg_F benefit from higher caster Faith and work best against targets with 50 Faith
      %li Hit_U and Dmg_U benefit from lower caster Faith and work best against targets with 50 Faith
      %li Hit_P and Dmg_P benefit from higher caster Faith and work best against targets with low Faith
