= turbo_stream.update('my-submissions') do
  = render 'events/show/my_submissions', teams: @my_submissions

= turbo_stream.update('submissions') do
  = render 'events/show/submissions', teams: @submissions
