= turbo_stream.remove(dom_id(@team, 'my-submission'))
= turbo_stream.remove(dom_id(@team, 'submission'))
= turbo_stream.remove(dom_id(@team, 'cut-submission'))
= turbo_stream.remove(dom_id(@team, 'bracket'))
