= turbo_stream.remove(dom_id(@submission, 'my-submission'))
= turbo_stream.remove(dom_id(@submission, 'submission'))
= turbo_stream.remove(dom_id(@submission, 'cut-submission'))
= turbo_stream.remove(dom_id(@submission, 'bracket'))
