@import "./bracket.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(0, 0, 0) rgb(31, 41, 55);
}

.modal-content .overflow-y-auto {
  scrollbar-gutter: stable;
}

.bg-menu-texture * {
  scrollbar-color: #726C5E #A49D83;
}

input[type=number] {
  -moz-appearance:textfield;
}

.tooltip-highlight [data-controller='context']:has([data-context-target='tooltip']) { 
  @apply -mx-2 px-2 rounded-md bg-blue-400/40 hover:bg-blue-500/30;
}

.tooltip-highlight [data-controller='context']:has([data-context-target='tooltip']), .tooltip-highlight [data-controller='context']:has([data-context-target='tooltip']) * { 
  @apply !cursor-help;
}