.flex.justify-end.space-x-4.mr-2.mt-2
  - if event.open?
    - if event.mine?
      = form_with(url: import_event_submissions_path(event_id: event.id), multipart: true, data: { controller: 'form' }) do
        %label.cursor-pointer{ for: 'upload-teams' }
          %div{ class: neutral_button_classes, data: { turbo_frame: 'modal' } } Import Teams
          = file_field_tag(:team_files, name: 'team_files[]', id: 'upload-teams', class: 'hidden', accept: '.yml', multiple: true, data: { action: 'form#submit' } )
    %a{ href: new_event_submission_path(event_id: event), class: primary_button_classes, data: { turbo_frame: 'modal' } }
      %span Submit
      %span.hidden.md:inline a Team

  - elsif event.mine? && Current.user.challonge_connected?
    - if event.state == 'open'
      %a{ href: publish_event_path(event), class: confirm_button_classes, data: { turbo_method: :post } }
        %span Publish
        %span.hidden.md:inline Event
    - elsif event.state == 'published'
      %a{ href: shuffle_event_path(event), class: primary_button_classes, data: { turbo_method: :post } }
        %span Shuffle
        %span.hidden.md:inline Bracket
      %a{ href: start_event_path(event), class: confirm_button_classes, data: { turbo_method: :post } }
        %span Confirm
        %span.hidden.md:inline Bracket
    
  - if event.mine?
    - if event.state == 'started'
      %a{ href: close_event_path(event), class: primary_button_classes, data: { turbo_method: :post, turbo_confirm: 'Are you sure you want to archive this event?' } }
        %span Archive
        %span.hidden.md:inline Event
    %a{ href: event_path(event), class: destructive_button_classes, data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this event? This will also delete any associated data published to Challonge.' } }
      %span Delete
      %span.hidden.md:inline Event