.divide-y.divide-gray-500
  - teams.each do |team|
    .flex.justify-between{ id: dom_id(team, 'cut_submission') }
      = render 'events/submissions/submission', team:

      %a.group.block.py-4.text-orange-400.hover:text-orange-300{ href: approve_event_submission_path(event_id: event.id, id: team.id), data: { turbo_method: :patch } }
        Approve

  - if teams.blank?
    .py-4.text-gray-400.italic There are no cut submissions for this event yet
