#events.divide-y.divide-gray-500{ data: { draggable_form_target: 'list'} }
  - teams.each do |team|
    .flex.justify-between.draggable{ id: dom_id(team, 'my-submission') }
      %input{ type: :hidden, name: 'team_ids[]', value: team.id }
      .flex.items-center.space-x-2.cursor-pointer
        = inline_svg_tag('icons/drag.svg', class: 'h-6 w-6 text-gray-400')
        = render 'events/submissions/submission', team:, hide_player_name: true
      %a.group.block.py-4.text-orange-400.hover:text-orange-300{ href: event_submission_path(event_id: event.id, id: team.id), data: { turbo_method: :delete } }
        Withdraw Team
  - if teams.blank?
    .py-4.text-gray-400.italic You have not submitted any teams yet
