= form_for(:foo, url: reorder_event_submissions_path(event_id: @event), method: :patch, data: { controller: 'draggable-form', draggable_form_target: 'form' }) do
  - if submissions.length > 1
    .text-sm.py-2.text-gray-300
      Drag to order your teams by most-to-least favorite. If cuts occur, teams will be cut from the bottom-up.
      
  .divide-y.divide-gray-500{ data: { draggable_form_target: 'list'} }
    - submissions.each do |submission|
      - actions = capture do
        - unless @event.deadline.past?
          %a.group.block.py-4.text-orange-400.hover:text-orange-300{ href: event_submission_path(event_id: event.id, id: submission.id), data: { turbo_method: :delete } }
            Withdraw
      
      .draggable{ id: dom_id(submission, 'my-submission'), data: { counter_target: 'item', scope: 'mine' } }
        %input{ type: :hidden, name: 'submission_ids[]', value: submission.id }
        .flex.items-center.space-x-2.cursor-pointer
          = inline_svg_tag('icons/drag.svg', class: 'h-6 w-6 text-gray-400')
          .flex-1
            = render 'events/submissions/submission', submission:, hide_player_name: true, actions:

    - if submissions.blank?
      .py-4.text-gray-400.italic You have not submitted any teams yet
