= turbo_frame_tag :modal do
  .modal-content{ class: modal_classes }
    .fixed.w-full.h-full.top-0.left-0.right-0.z-10.bg-gray-700.opacity-70

    .fixed.top-20.left-4.right-4.z-20.overflow-x-hidden.flex.justify-center
      .modal-controller.flex.flex-col.h-modal.relative.bg-gray-900.overflow-y-hidden.rounded-lg{ data: { controller: 'modal', action: 'keydown@window->modal#keydown' } }
        .sticky.top-0.flex.justify-between.items-center.bg-gray-900
          .p-4.text-white
            = yield :heading

          %button.absolute.top-3.text-gray-300.bg-transparent.hover:text-white.text-sm.ml-auto.inline-flex.items-center.cursor-pointer{class: "right-2.5 p-1.5", type: "button", data: { action: 'modal#close' } }
            = inline_svg_tag('icons/close.svg', class: 'w-5 h-5')
            %span.sr-only Close modal
        .p-4.overflow-y-auto.text-white.max-w-2xl
          = yield
