= turbo_frame_tag :modal do
  .modal-content
    .fixed.w-full.h-full.top-0.left-0.right-0.z-10.bg-gray-700.opacity-70

    .fixed.top-0.left-0.right-0.z-20.h-screen.overflow-x-hidden.flex.justify-center.p-4
      .modal-controller.flex.flex-col.h-modal.relative.bg-menu-texture.border-2.border-menu-dark.overflow-y-hidden{ data: { controller: 'modal', action: 'keydown@window->modal#keydown' } }
        .sticky.top-0.flex.justify-between.items-center.bg-menu-texture
          .p-4
            = yield :heading

          %button.absolute.top-3.text-gray-900.bg-transparent.hover:text-gray-700.text-sm.ml-auto.inline-flex.items-center.cursor-pointer{class: "right-2.5 p-1.5", type: "button", data: { action: 'modal#close' } }
            = inline_svg_tag('icons/close.svg', class: 'w-5 h-5')
            %span.sr-only Close modal
        .pl-4.pr-2.flex-1.overflow-y-auto
          = yield
